<!DOCTYPE html>
<html{{ if .Site.Params.opengraph }} prefix="og: http://ogp.me/ns#"{{ end }}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ if .IsHome }}{{ .Title }} &#45; {{ .Site.Params.subtitle }}{{ else }}{{ .Title }} &#45; {{ .Site.Title }}{{ end }}</title>
        <meta name="description" content="{{ if .IsHome }}{{ .Site.Params.Description }}{{ else if .IsPage }}{{ .Summary }}{{ else }}{{ with .Description }}{{ . }}{{ end }}{{ end }}">
        <meta name="keywords" content="{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}">
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        {{ .Hugo.Generator }}
        <meta name="robots" content="index,follow">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{ if .Site.Params.opengraph }}{{ partial "opengraph.html" . }}{{ end }}
        <link rel="stylesheet" href="{{ .Site.BaseURL }}dist/styles.css">
        <link rel="stylesheet" href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css">
        {{ if .OutputFormats.Get "RSS" }}<link href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" rel="alternate" type="application/rss+xml">{{ end }}
    </head>
    <body>
        {{ template "_internal/google_analytics.html" . }}

        <div id="wrapper">
            <header class="site-header">
                <div class="container">
                    <div class="site-title-wrapper">
                        {{ with .Site.Params.logo }}
                            <a class="site-logo" title="{{ .Title }}" href="{{ .Site.BaseURL }}">
                                <img src="{{ . }}" alt="{{ .Title }}" />
                            </a>
                        {{ else }}
                            <h1 class="site-title">
                                <a title="{{ .Site.Title }}" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
                            </h1>
                        {{ end }}
                        <a class="button-square" href="{{ .Site.BaseURL }}index.xml"><i class="fa fa-rss"></i></a>
                        {{ with .Site.Params.twitter }}
                            <a class="button-square button-social hint--top" data-hint="Twitter" title="Twitter" href="{{ . }}">
                                <i class="fa fa-twitter"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.gitlab }}
                            <a class="button-square button-social hint--top" data-hint="Gitlab" title="Gitlab" href="{{ . }}">
                                <i class="fa fa-gitlab"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.github }}
                            <a class="button-square button-social hint--top" data-hint="Github" title="Github" href="{{ . }}">
                                <i class="fa fa-github-alt"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.stackoverflow }}
                            <a class="button-square button-social hint--top" data-hint="Stack Overflow" title="Stack Overflow" href="{{ . }}">
                                <i class="fa fa-stack-overflow"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.linkedin }}
                            <a class="button-square button-social hint--top" data-hint="LinkedIn" title="LinkedIn" href="{{ . }}">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.gplus }}
                            <a class="button-square button-social hint--top" data-hint="Google+" title="Google+" href="{{ . }}">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.fanfou }}
                            <a class="button-square button-social hint--top" data-hint="Fanfou" title="Fanfou" href="{{ . }}">
                                <i class="fa fa-weibo"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.email }}
                            <a class="button-square button-social hint--top" data-hint="Email" title="Email" href="mailto:{{ . }}">
                                <i class="fa fa-envelope"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.psn }}
                            <a class="button-square button-social hint--top" data-hint="PSN" title="PSN" href="{{ . }}">
                                <i class="fa fa-trophy"></i>
                            </a>
                        {{ end }}
                        {{ with .Site.Params.steam }}
                            <a class="button-square button-social hint--top" data-hint="Steam" title="Steam" href="{{ . }}">
                                <i class="fa fa-steam"></i>
                            </a>
                        {{ end }}
                    </div>

                    <ul class="site-nav">
                        {{ partial "navigation.html" . }}
                    </ul>
                </div>
            </header>

            <div id="container">
